@import "base"

html, body, #wrapper
	box-sizing: border-box
	margin: 0
	min-height: 100%
	outline: none
	padding: 0
	width: 100%

html
	scroll-behavior: smooth

body
	-webkit-font-smoothing: antialiased
	background: $off-brand
	color: #000
	font-family: $sans-serif
	font-size: 16px
	overflow-y: auto
	transition: $transition-val
	-moz-osx-font-smoothing: grayscale

::selection
	background: $highlight

::-moz-selection
	background: $highlight

::-webkit-scrollbar
	width: 10px

::-webkit-scrollbar-track
	background: $off-dark

::-webkit-scrollbar-thumb
	background: $brand
	box-shadow: 0 -2px 5px 5px hsla(199, 100%, 24%, .25)
	position: absolute

::-webkit-scrollbar-thumb:hover
	background: $highlight

a, a:link, a:hover, a:focus
	border-bottom: 2px solid transparent
	transition: $transition-val

a.lite
	color: inherit
	// text-decoration: underline
	background-image: linear-gradient( transparent 0%, transparent calc(50% - 8px), $highlight calc(50% - 8px), $highlight 100%)
	transition: background-position 120ms ease-in-out, padding 120ms ease-in-out
	background-size: 100% 250%
	padding: 0 5px
	background-position: 0 0
	&:hover
		color: $off-dark
		padding: 2px 5px 4px
		text-decoration: none
		background-image: linear-gradient( transparent 0%, transparent calc(50% - 8px), $brand calc(50% - 8px), $brand 100%)
		background-position: 0 100%

h1, h2, h3
	font-family: $serif
	letter-spacing: 2px

.sans-serif
	font-family: $sans-serif !important

.btn, .btn:hover, .btn:focus
	background: $brand
	border-radius: 0
	color: #FFF
	font-size: 1.1rem
	font-weight: 700
	letter-spacing: 1px
	margin: 1rem 0
	outline: none
	padding: 1rem 0
	width: 100%
	text-transform: uppercase
	@media( #{$bp-md})
		padding: 1rem 2.5rem
		width: auto

.btn:hover
	background: $brand-dark

.btn-primary
	border: 2px solid $brand !important
	&:hover
		border: 2px solid $brand-dark !important

.btn-secondary, .btn-secondary:hover
	border: 2px solid #FFF !important

.btn-white-bg
	background: none
	color: $brand
	border: 2px solid $brand !important
	&:hover
		color: #FFF
		border: 2px solid $off-brand !important

.brand
	color: $brand !important

@media( #{$bp-md})
	.brand-bl::before
		background: $brand
		content: " "
		display: block
		height: 4px
		margin: 11px 0 0 -95px
		position: absolute
		width: 75px

.section
	padding-bottom: 5rem
	padding-top: 10rem

// Custom Navbar
.navbar
	background: none
	text-align: center
	transition: $transition-val
	.navbar-toggler
		border: none
		outline: none
		padding: 2rem
		@media( #{$bp-md})
			transform: scale(1.5)
		.navbar-toggler-icon
			background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='hsl(4, 80%, 100%)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E")

.nav-link
	color: $highlight !important
	font-family: $serif
	font-size: 1.75rem
	letter-spacing: 2px
	margin: 0 2rem
	padding: 1rem
	text-align: right
	transition: $transition-val
	&:hover
		color: #FFF !important
	@media( #{$bp-md})
		font-size: 4rem
	@media( #{$bp-lg})
		font-size: 1.5rem
		margin: 0 1.2rem 20px
		padding: 1.5rem 0 !important
		text-align: center
		text-transform: uppercase
		&:hover
			margin-bottom: 0
			margin-top: 20px
			&::before
				background: #FFF
				content: " "
				display: block
				height: 50px
				margin: -55px 0 5px 50%
				width: 2px

.nav-item
	&.active, &.active:hover
		.nav-link
			color: #FFF !important
			@media( #{$bp-lg})
				margin-top: 20px
				margin-bottom: 0
				&::before
					background: #FFF
					content: " "
					display: block
					height: 50px
					margin: -55px 0 5px 50%
					width: 2px

// reset
.navbar-expand-xl
	padding: 0
	transition: $transition-val

// 100% height mobile menu
@media(max-width: 992px)
	.navbar-collapse
		&.collapse
			height: 100vh
			max-height: none
			overflow-y: auto
			transition: $transition-val
		&.collapsing
			height: 0 !important

// Logo
.monogram
	border: 2px solid #FFF !important
	color: #FFF
	display: inline-block
	margin-left: 1.5rem
	padding: .5rem
	transition: $transition-val
	&:hover
		color: $off-brand
		text-decoration: none
		background: $off-dark
		border: 2px solid $off-brand !important

// Main Page
#Home
	background: $off-brand
	color: #FFF
	padding-bottom: 11rem
	padding-top: 11rem
	h1
		font-size: 5rem
		line-height: 6rem
		padding: 2rem 0
	.img-dp
		background: #FFF
		border: 20px solid $off-brand
		outline: 5px solid #FFF
		width: 100%

h2
	font-size: 3rem

.social-icons
	margin: 3rem 0
	a
		background: #FFF
		border: 2px solid $brand
		color: $brand !important
		display: inline-block
		font-size: 2rem
		height: 75px
		line-height: 75px
		margin: 0 1rem 1rem 0
		text-align: center
		text-decoration: none
		width: 75px
		&:hover
			background: $off-dark
			border: 2px solid $off-dark
			color: #FFF !important
		@media( #{$bp-lg})
			margin-left: 1.5rem
	@media( #{$bp-lg})
		margin: -37.5px 0 3rem

#Social
	background: #FFF
	background-image: linear-gradient(90deg, #FFF 25%, $off-brand 25%, $off-brand 50%, #FFF 50%, #FFF 75%, $off-brand 75%, $off-brand 100%)
	background-size: 80px

#About, #Work, #Blog, #Star
	background: #FFF

#About
	.img-fluid
		@media( #{$bp-sm})
			margin: 2rem 0

.cards-group
	list-style: none
	display: grid
	padding: 0
	grid-template-columns: 100%
	grid-column-gap: 0
	grid-row-gap: 2rem
	@media( #{$bp-md})
		display: grid
		grid-template-columns: 50% 50%
		grid-column-gap: 1rem
		grid-row-gap: 2rem
	li
		background: #FFF
		border: 4px solid $highlight
		box-shadow: 0 10px 0 0 $highlight
		display: block
		float: left
		// margin: .5rem
		padding: 1.5rem
		transition: $transition-val
		width: 100%
		img
			width: 100%
			display: block
			margin: 1.5rem 0
			&.logo
				width: 55%
				margin: 1.5rem 22.5%
		h4
			text-align: center
			color: $off-dark
		h6
			text-align: center
			margin-bottom: 1.5rem
			&::before
				content: "FOR: "
				font-size: 1rem
				color: hsl(0,0%,50%)
		&:hover
			border: 4px solid $brand
			box-shadow: 0 10px 0 0 $brand
			a
				color: $brand
		a
			color: $off-dark
			text-align: center
			margin-right: 1.5rem
			display: inline-block
			float: left
			@media( #{$bp-sm})
				margin: 1rem 0 0
			&:hover
				text-decoration: none
				color: $off-dark
				margin-left: .5rem
				margin-right: 1rem

#Work
	.card-list
		min-height: 200px

.blog-articles
	list-style: none
	margin: 1rem 0 0
	padding: 0 !important
	li a
		font-size: 1.4rem
		color: $brand
		outline: 4px dashed $highlight
		padding: 4rem 2.5rem !important
		overflow: hidden
		text-align: center
		display: block
		margin-bottom: 3rem
		background-image: linear-gradient(0deg, #FFF 25%, $highlight 25%, $highlight 50%, #FFF 50%, #FFF 75%, $highlight 75%, $highlight 100%)
		background-size: 120px 120px
		@media( #{$bp-sm})
			margin-top: 2rem
			margin-bottom: 0
		&::before
			content: open-quote
			position: absolute
			margin: -40px 0 0 -90px
			font-size: 12rem
			line-height: 1.4rem
			font-weight: 700
			color: $off-brand
			transition: $transition-val
		&:hover
			color: $off-dark
			outline: 4px dashed $brand
			padding: 4rem 2.5rem !important
			text-decoration: none
			&::before
				color: $brand

#End-Game
	color: #FFF
	background: $off-dark
	padding-top: 6rem
	padding-bottom: 6rem
	.monogram
		border: 5px solid #FFF !important
		font-size: 3rem
		margin: 0 0 2rem
		padding: 1rem 1.5rem
		@media( #{$bp-md})
			margin: 0
		&:hover
			border: 5px solid $brand !important
			color: $brand
			&::before
				content: "⬆"
				margin: -80px 0 0 20px
				position: absolute
	@media( #{$bp-sm})
		p.lead
			margin: 2rem 0

	.footer-icon-links
		margin: 2rem 0
		@media( #{$bp-md})
			margin: 0
		a
			color: #FFF
			display: inline-block
			font-size: 2rem
			margin: 0 1.5rem 1rem 0
			@media( #{$bp-md})
				font-size: 1.5rem
			&:hover
				color: $brand
				text-decoration: none
	.ajit
		border-bottom: 3px solid #FFF
		color: #FFF
		margin-bottom: 3px
		padding-bottom: 3px
		text-decoration: none
		&:hover
			margin-bottom: 0
			padding-bottom: 6px

// Animations
.fade-in
	opacity: 0
	transition: $transition-val .5s

.slide-down
	margin-top: -100px
	transition: margin-top 0.3s ease-in-out 1s, color 0.3s ease-in-out 0s

.slide-up
	margin-top: 500px
	opacity: 0
	transition: $transition-val 1s
