### Jekyll ###
_site/
.sass-cache/
.jekyll-cache/
.jekyll-metadata

### Sass ###
.sass-cache/
*.css.map
*.sass.map
*.scss.map

### macOS ###
# General
.DS_Store
.AppleDouble
.LSOverride
Icon
._*
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent

### Windows ###
Thumbs.db
Thumbs.db:encryptable
ehthumbs.db
ehthumbs_vista.db
[Dd]esktop.ini
$RECYCLE.BIN/
*.lnk
