@charset "UTF-8";
html, body, #wrapper {
  box-sizing: border-box;
  margin: 0;
  min-height: 100%;
  outline: none;
  padding: 0;
  width: 100%;
}

html {
  scroll-behavior: smooth;
}

body {
  -webkit-font-smoothing: antialiased;
  background: #77cbd4;
  color: #000;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", sans-serif;
  font-size: 16px;
  overflow-y: auto;
  transition: all 0.3s ease-in-out;
  -moz-osx-font-smoothing: grayscale;
}

::selection {
  background: #d8f0f3;
}

::-moz-selection {
  background: #d8f0f3;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #003147;
}

::-webkit-scrollbar-thumb {
  background: #3db5c2;
  box-shadow: 0 -2px 5px 5px rgba(0, 84, 122, 0.25);
  position: absolute;
}

::-webkit-scrollbar-thumb:hover {
  background: #d8f0f3;
}

a, a:link, a:hover, a:focus {
  border-bottom: 2px solid transparent;
  transition: all 0.3s ease-in-out;
}

a.lite {
  color: inherit;
  background-image: linear-gradient(transparent 0%, transparent calc(50% - 8px), #d8f0f3 calc(50% - 8px), #d8f0f3 100%);
  transition: background-position 120ms ease-in-out, padding 120ms ease-in-out;
  background-size: 100% 250%;
  padding: 0 5px;
  background-position: 0 0;
}
a.lite:hover {
  color: #003147;
  padding: 2px 5px 4px;
  text-decoration: none;
  background-image: linear-gradient(transparent 0%, transparent calc(50% - 8px), #3db5c2 calc(50% - 8px), #3db5c2 100%);
  background-position: 0 100%;
}

h1, h2, h3 {
  font-family: "Bebas Neue", Helvetica, serif;
  letter-spacing: 2px;
}

.sans-serif {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", sans-serif !important;
}

.btn, .btn:hover, .btn:focus {
  background: #3db5c2;
  border-radius: 0;
  color: #FFF;
  font-size: 1.1rem;
  font-weight: 700;
  letter-spacing: 1px;
  margin: 1rem 0;
  outline: none;
  padding: 1rem 0;
  width: 100%;
  text-transform: uppercase;
}
@media (min-width: 768px) {
  .btn, .btn:hover, .btn:focus {
    padding: 1rem 2.5rem;
    width: auto;
  }
}

.btn:hover {
  background: #00547a;
}

.btn-primary {
  border: 2px solid #3db5c2 !important;
}
.btn-primary:hover {
  border: 2px solid #00547a !important;
}

.btn-secondary, .btn-secondary:hover {
  border: 2px solid #FFF !important;
}

.btn-white-bg {
  background: none;
  color: #3db5c2;
  border: 2px solid #3db5c2 !important;
}
.btn-white-bg:hover {
  color: #FFF;
  border: 2px solid #77cbd4 !important;
}

.brand {
  color: #3db5c2 !important;
}

@media (min-width: 768px) {
  .brand-bl::before {
    background: #3db5c2;
    content: " ";
    display: block;
    height: 4px;
    margin: 11px 0 0 -95px;
    position: absolute;
    width: 75px;
  }
}
.section {
  padding-bottom: 5rem;
  padding-top: 10rem;
}

.navbar {
  background: none;
  text-align: center;
  transition: all 0.3s ease-in-out;
}
.navbar .navbar-toggler {
  border: none;
  outline: none;
  padding: 2rem;
}
@media (min-width: 768px) {
  .navbar .navbar-toggler {
    transform: scale(1.5);
  }
}
.navbar .navbar-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='hsl(4, 80%, 100%)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.nav-link {
  color: #d8f0f3 !important;
  font-family: "Bebas Neue", Helvetica, serif;
  font-size: 1.75rem;
  letter-spacing: 2px;
  margin: 0 2rem;
  padding: 1rem;
  text-align: right;
  transition: all 0.3s ease-in-out;
}
.nav-link:hover {
  color: #FFF !important;
}
@media (min-width: 768px) {
  .nav-link {
    font-size: 4rem;
  }
}
@media (min-width: 992px) {
  .nav-link {
    font-size: 1.5rem;
    margin: 0 1.2rem 20px;
    padding: 1.5rem 0 !important;
    text-align: center;
    text-transform: uppercase;
  }
  .nav-link:hover {
    margin-bottom: 0;
    margin-top: 20px;
  }
  .nav-link:hover::before {
    background: #FFF;
    content: " ";
    display: block;
    height: 50px;
    margin: -55px 0 5px 50%;
    width: 2px;
  }
}

.nav-item.active .nav-link, .nav-item.active:hover .nav-link {
  color: #FFF !important;
}
@media (min-width: 992px) {
  .nav-item.active .nav-link, .nav-item.active:hover .nav-link {
    margin-top: 20px;
    margin-bottom: 0;
  }
  .nav-item.active .nav-link::before, .nav-item.active:hover .nav-link::before {
    background: #FFF;
    content: " ";
    display: block;
    height: 50px;
    margin: -55px 0 5px 50%;
    width: 2px;
  }
}

.navbar-expand-xl {
  padding: 0;
  transition: all 0.3s ease-in-out;
}

@media (max-width: 992px) {
  .navbar-collapse.collapse {
    height: 100vh;
    max-height: none;
    overflow-y: auto;
    transition: all 0.3s ease-in-out;
  }
  .navbar-collapse.collapsing {
    height: 0 !important;
  }
}
.monogram {
  border: 2px solid #FFF !important;
  color: #FFF;
  display: inline-block;
  margin-left: 1.5rem;
  padding: 0.5rem;
  transition: all 0.3s ease-in-out;
}
.monogram:hover {
  color: #77cbd4;
  text-decoration: none;
  background: #003147;
  border: 2px solid #77cbd4 !important;
}

#Home {
  background: #77cbd4;
  color: #FFF;
  padding-bottom: 11rem;
  padding-top: 11rem;
}
#Home h1 {
  font-size: 5rem;
  line-height: 6rem;
  padding: 2rem 0;
}
#Home .img-dp {
  background: #FFF;
  border: 20px solid #77cbd4;
  outline: 5px solid #FFF;
  width: 100%;
}

h2 {
  font-size: 3rem;
}

.social-icons {
  margin: 3rem 0;
}
.social-icons a {
  background: #FFF;
  border: 2px solid #3db5c2;
  color: #3db5c2 !important;
  display: inline-block;
  font-size: 2rem;
  height: 75px;
  line-height: 75px;
  margin: 0 1rem 1rem 0;
  text-align: center;
  text-decoration: none;
  width: 75px;
}
.social-icons a:hover {
  background: #003147;
  border: 2px solid #003147;
  color: #FFF !important;
}
@media (min-width: 992px) {
  .social-icons a {
    margin-left: 1.5rem;
  }
}
@media (min-width: 992px) {
  .social-icons {
    margin: -37.5px 0 3rem;
  }
}

#Social {
  background: #FFF;
  background-image: linear-gradient(90deg, #FFF 25%, #77cbd4 25%, #77cbd4 50%, #FFF 50%, #FFF 75%, #77cbd4 75%, #77cbd4 100%);
  background-size: 80px;
}

#About, #Work, #Blog, #Star {
  background: #FFF;
}

@media (max-width: 767px) {
  #About .img-fluid {
    margin: 2rem 0;
  }
}

.card-list {
  background: #FFF;
  border: 4px solid #d8f0f3;
  box-shadow: 0 10px 0 0 #d8f0f3;
  display: block;
  float: left;
  margin: 1rem 0;
  padding: 1.5rem;
  transition: all 0.3s ease-in-out;
  width: 100%;
}
.card-list img {
  width: 100%;
  display: block;
  margin: 1.5rem 0;
}
.card-list img.logo {
  width: 55%;
  margin: 1.5rem 22.5%;
}
.card-list h4 {
  text-align: center;
  color: #003147;
}
.card-list h6 {
  text-align: center;
  margin-bottom: 1.5rem;
}
.card-list h6::before {
  content: "FOR: ";
  font-size: 1rem;
  color: gray;
}
@media (min-width: 768px) {
  .card-list {
    margin: 1rem 1%;
    width: 48%;
  }
}
.card-list:hover {
  border: 4px solid #3db5c2;
  box-shadow: 0 10px 0 0 #3db5c2;
}
.card-list:hover a {
  color: #3db5c2;
}
.card-list a {
  color: #003147;
  text-align: center;
  margin-right: 1.5rem;
}
@media (max-width: 767px) {
  .card-list a {
    display: block;
    margin: 1rem 0 0;
  }
}
.card-list a:hover {
  text-decoration: none;
  color: #003147;
  margin-left: 0.5rem;
  margin-right: 1rem;
}

#Work .card-list {
  min-height: 200px;
}

.blog-articles {
  list-style: none;
  margin: 1rem 0 0;
  padding: 0 !important;
}
.blog-articles li a {
  font-size: 1.4rem;
  color: #3db5c2;
  outline: 4px dashed #d8f0f3;
  padding: 4rem 2.5rem !important;
  overflow: hidden;
  text-align: center;
  display: block;
  margin-bottom: 3rem;
  background-image: linear-gradient(0deg, #FFF 25%, #d8f0f3 25%, #d8f0f3 50%, #FFF 50%, #FFF 75%, #d8f0f3 75%, #d8f0f3 100%);
  background-size: 120px 120px;
}
@media (max-width: 767px) {
  .blog-articles li a {
    margin-top: 2rem;
    margin-bottom: 0;
  }
}
.blog-articles li a::before {
  content: open-quote;
  position: absolute;
  margin: -40px 0 0 -90px;
  font-size: 12rem;
  line-height: 1.4rem;
  font-weight: 700;
  color: #77cbd4;
  transition: all 0.3s ease-in-out;
}
.blog-articles li a:hover {
  color: #003147;
  outline: 4px dashed #3db5c2;
  padding: 4rem 2.5rem !important;
  text-decoration: none;
}
.blog-articles li a:hover::before {
  color: #3db5c2;
}

#End-Game {
  color: #FFF;
  background: #003147;
  padding-top: 6rem;
  padding-bottom: 6rem;
}
#End-Game .monogram {
  border: 5px solid #FFF !important;
  font-size: 3rem;
  margin: 0 0 2rem;
  padding: 1rem 1.5rem;
}
@media (min-width: 768px) {
  #End-Game .monogram {
    margin: 0;
  }
}
#End-Game .monogram:hover {
  border: 5px solid #3db5c2 !important;
  color: #3db5c2;
}
#End-Game .monogram:hover::before {
  content: "⬆";
  margin: -80px 0 0 20px;
  position: absolute;
}
@media (max-width: 767px) {
  #End-Game p.lead {
    margin: 2rem 0;
  }
}
#End-Game .footer-icon-links {
  margin: 2rem 0;
}
@media (min-width: 768px) {
  #End-Game .footer-icon-links {
    margin: 0;
  }
}
#End-Game .footer-icon-links a {
  color: #FFF;
  display: inline-block;
  font-size: 2rem;
  margin: 0 1.5rem 1rem 0;
}
@media (min-width: 768px) {
  #End-Game .footer-icon-links a {
    font-size: 1.5rem;
  }
}
#End-Game .footer-icon-links a:hover {
  color: #3db5c2;
  text-decoration: none;
}
#End-Game .ajit {
  border-bottom: 3px solid #FFF;
  color: #FFF;
  margin-bottom: 3px;
  padding-bottom: 3px;
  text-decoration: none;
}
#End-Game .ajit:hover {
  margin-bottom: 0;
  padding-bottom: 6px;
}

.fade-in {
  opacity: 0;
  transition: all 0.3s ease-in-out 0.5s;
}

.slide-down {
  margin-top: -100px;
  transition: margin-top 0.3s ease-in-out 1s, color 0.3s ease-in-out 0s;
}

.slide-up {
  margin-top: 200px;
  transition: all 0.3s ease-in-out 1s;
}

/*# sourceMappingURL=style.css.map */
